<template>
  <q-page padding>
    <main class="container">
    <div class="cliente">
      <Header/>
      <Sidebar/>

      <h4 class="text-center q-ma-xs">
         <strong>
          CLIENTES
          </strong>
      </h4>

    <div>
      <b-button v-b-modal.modal-1 class="btn btn-danger">Nuevo</b-button>

      <b-modal id="modal-1" title="Nuevo Cliente">
        <form>
      <label>DNI</label>
      <input type="number" name="dni" v-model="c_dni">
      <br>
      <label>NOMBRES</label>
      <input type="text" name="nombres" v-model="c_nombres">
      <br>
      <label>DIRECCION</label>
      <input type="text" name="direccion" v-model="c_direccion">
      <br>
      <label>REFERENCIA</label>
      <input type="text" name="referencia" v-model="c_referencia">
      <br>
      <label>TELEFONO CONTACTO</label>
      <input type="text" name="telefonocontacto" v-model="c_telefono_contacto">
      <br>
      <input type="button" @click="guardarCliente()" value="agregar">
    </form>
      </b-modal>
    </div>
    <div>
      <b-button v-b-modal.modal-2 class="btn btn-danger">Actualizar</b-button>

      <b-modal id="modal-2" title="Actualizar Cliente">
        <input type="number" class="form-control" placeholder="DNI" aria-label="Dni" aria-describedby="addon-wrapping">
        <input type="text" class="form-control" placeholder="NOMBRES" aria-label="Nombres" aria-describedby="addon-wrapping">
        <input type="text" class="form-control" placeholder="DIRECCION" aria-label="Direccion" aria-describedby="addon-wrapping">
        <input type="text" class="form-control" placeholder="REFERENCIA" aria-label="Referencia" aria-describedby="addon-wrapping">
        <input type="Number" class="form-control" placeholder="TELEFONO CONTACTO" aria-label="Telefono contacto" aria-describedby="addon-wrapping">
      </b-modal>
    </div> 
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nombres</th>
            <th scope="col">Direccion</th>
            <th scope="col">Referencia</th>
            <th scope="col">Telefono Contacto</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="cliente in clientes" :key="cliente.clienteId">
            <td>{{cliente.c_dni}}</td>
            <td>{{cliente.c_nombres}}</td>
            <td>{{cliente.c_direccion}}</td>
            <td>{{cliente.c_referencia}}</td>
            <td>{{cliente.c_telefono_contacto}}</td>
          </tr>  
        </tbody>
      </table>
    </div>      
      <Footer/>
      <router-view/>     
  </div>
  </main>
  </q-page>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue';
//import axios from 'axios';
import Footer from '../components/Footer.vue';
import Header from '../components/Header.vue';
import {getClientes, guardarCliente} from '../services/clientes'

export default {
  data(){
    return{
      cliente: {
      c_dni: '',
      c_nombres:'',
      c_direccion:'',
      c_referencia:'',
      c_telefono_contacto: ''
      },
      clientes: [],
      Listaclientes:null,
      pagina:1
    }
  },
  created(){
    this.getClientes()
    this.guardarCliente()
  },
   components:{
    Sidebar,
    Footer,
    Header
  },
  methods: {
    async getClientes(){
      const res = await getClientes()
      this.clientes = res
    }, 
    
    async guardarCliente(){
      const res = await guardarCliente()
      this.guardarCliente = res
    }
    }
}
</script>

<style scoped>

</style>