<template>
  <div>
      <Header/>
      <Sidebar/>    
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="DNI:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.dni"
          type="text"
          placeholder="DNI"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Nombres:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          placeholder="Ingrese sus nombres"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Apellidos:" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="form.lastname"
          placeholder="Ingrese sus apellidos"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Email:" label-for="input-4">
        <b-form-input
          id="input-4"
          v-model="form.email"
          placeholder="Ingrese su correo"
          type="email"
          required
        ></b-form-input>
      </b-form-group>       

      <b-form-group id="input-group-5" label="Roll:" label-for="input-5">
        <b-form-select
          id="input-5"
          v-model="form.roll"
          :options="roll"
          required
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-5" v-slot="{ ariaDescribedby }">
        <b-form-checkbox-group
          v-model="form.checked"
          id="checkboxes-4"
          :aria-describedby="ariaDescribedby"
        >
        </b-form-checkbox-group>
      </b-form-group>

      <b-button type="submit" variant="primary">Registrar</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script>
  import Sidebar from '@/components/Sidebar.vue';
  /* import axios from 'axios'; */
/*   import Footer from '../components/Footer.vue'; */
  import Header from '../components/Header.vue'
  export default {
    data() {
      return {
        form: {
          dni: '',
          email: '',
          name: '',
          lastname: '',
          roll: null,
          checked: []
        },
        rolls: [{ text: 'Seleccionar', value: null }, 'Administrador', 'Asesor de ventas', 'Otros'],
        show: true
      }
    },
    methods: {
      onSubmit(event) {
        event.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset(event) {
        event.preventDefault()
        // Reset our form values
        this.form.dni = ''
        this.form.email = ''
        this.form.name = ''
        this.fomr.lastname = ''
        this.form.roll = null
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    },
    components:{
      Sidebar,
/*       Footer, */
      Header
  }
  }
</script>