<template>

<div class="head">
  <b-navbar toggleable="lg" type="light" variant="dark">
    <b-navbar-brand href="#"><b-button variant="dark" size="sm" v-b-toggle.sidebar-menu><b-icon icon="list"></b-icon></b-button>
      EL GIGANTE 
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Buscar"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Buscar</b-button>
        </b-nav-form>
<!--         <b-nav-item-dropdown right>
          <template #button-content>
            <em>Usuario</em>
          </template>
          <b-dropdown-item href="#">Cambiar contraseña</b-dropdown-item>
          <b-dropdown-item href="#">Cerrar sesión</b-dropdown-item>
        </b-nav-item-dropdown> -->
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
    <br><br>
</div>

</template>

<style scoped>

</style>